[Desktop Entry]
Type=Application
Version=1.0
Name=Rust Workbench
GenericName=Rust Editor
Comment=Compiler-backed visual Rust ownership learning editor
Exec=rust-workbench %F
Icon=dev.rustworkbench.EditorDev
Terminal=false
StartupNotify=true
StartupWMClass=dev.rustworkbench.EditorDev
Categories=Development;IDE;
Keywords=Rust;Zed;IDE;Ownership;Borrow Checker;
MimeType=text/plain;inode/directory;
